
{% extends "base.html" %}

{% block style %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body stats-card">
                <i class="fas fa-eye fa-3x mb-3 text-primary"></i>
                <h5 class="card-title">Watchlist</h5>
                <p class="card-text">Manage your daily monitored assets</p>
                <a href="{{ url_for('watchlist_endpoints.watchlist') }}" class="btn btn-pill bg-primary">
                    <i class="fas fa-plus me-2"></i>See Watchlist
                </a>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body stats-card">
                <i class="fas fa-book fa-3x mb-3 text-primary"></i>
                <h5 class="card-title">Trading Journal</h5>
                <p class="card-text">Record and analyze all your trades</p>
                <a href="{{ url_for('journal_endpoints.journal') }}" class="btn btn-pill bg-primary">
                    <i class="fas fa-calendar-alt me-2"></i>See Journal
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body stats-card">
                <i class="fas fa-chart-bar fa-2x mb-3 text-primary"></i>
                <h5 class="card-title">Performance</h5>
                <a href="{{ url_for('journal_endpoints.globalPerformance') }}" class="btn btn-pill bg-primary">See Statistics</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body stats-card">
                <i class="fas fa-lightbulb fa-2x mb-3 text-primary"></i>
                <h5 class="card-title">Improvements</h5>
                <a href="{{ url_for('error_endpoints.errors') }}" class="btn btn-pill bg-primary">See Suggestions</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body stats-card">
                <i class="fas fa-cog fa-2x mb-3 text-primary"></i>
                <h5 class="card-title">Strategies</h5>
                <a href="{{ url_for('strategy_endpoints.strategies') }}" class="btn btn-pill bg-primary">Configure</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body stats-card">
                <i class="fas fa-cog fa-2x mb-3 text-primary"></i>
                <h5 class="card-title">Assets</h5>
                <a href="{{ url_for('asset_endpoints.asset') }}" class="btn btn-pill bg-primary">Check asset</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body stats-card">
                <i class="fas fa-cog fa-2x mb-3 text-primary"></i>
                <h5 class="card-title">Settings</h5>
                <a href="{{ url_for('index_endpoints.settings') }}" class="btn btn-pill bg-primary">Go to Settings</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}